* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    background: #020617;
    color: white;
    font-family: Arial, sans-serif;
}


/* HEADER */

header {

    padding: 20px 40px;
    background: #0f172a;
    border-bottom: 2px solid #0ea5e9;
}


header h1 {

    color: #38bdf8;
    font-size: 42px;
}


header p {

    margin-top: 8px;
    color: #cbd5e1;
}


/* MAIN */

.container {

    display: flex;
    gap: 25px;
    padding: 25px;
}


/* PANELS */

.left-panel {

    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.right-panel {

    flex: 1;
}


/* CARD */

.card {

    background: #1e293b;
    border-radius: 20px;
    padding: 22px;

    border: 1px solid rgba(0,255,255,0.1);

    box-shadow:
        0 0 10px rgba(0,255,255,0.1);
}


.card h2 {

    color: #38bdf8;
    margin-bottom: 18px;
}


/* INPUT */

input {

    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
    font-size: 16px;
}


/* BUTTON */

button {

    width: 100%;
    padding: 14px;

    border: none;
    border-radius: 12px;

    background: linear-gradient(
        90deg,
        #06b6d4,
        #3b82f6
    );

    color: white;
    font-weight: bold;
    cursor: pointer;
}


button:hover {

    box-shadow:
        0 0 15px cyan;
}


/* STATS */

.stats {

    display: flex;
    flex-direction: column;
    gap: 15px;
}


.stats p {

    font-size: 20px;
}


/* PERFORMANCE */

.performance-box {

    display: flex;
    flex-direction: column;
    gap: 14px;
}


.performance-box hr {

    border: 1px solid #334155;
}


/* STATES */

#cabStatesPanel {

    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* HISTORY */

#rideHistory {

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 10px;

    max-height: 250px;
    overflow-y: auto;
}


#rideHistory li {

    background: #334155;
    padding: 12px;
    border-radius: 10px;
}


/* GRAPH */

canvas {

    width: 100%;
    min-height: 700px;

    background: #000814;

    border-radius: 20px;

    margin-top: 10px;
}


/* TRAVERSAL */

.traversal-card {

    margin-top: 20px;
}


.traversal-output {

    background: #0f172a;

    padding: 15px;

    border-radius: 12px;

    margin-top: 10px;

    color: #38bdf8;

    line-height: 1.8;
}